:root {
  --totalRow: 0;
  --totalCol: 0;
}

#grid {
  display: inline-grid;
  grid-template-columns: repeat(var(--totalCol), 40px);
  grid-template-rows: repeat(var(--totalRow), 40px);
  background-color: rgb(78, 78, 204)
}

#grid > div {
  border: 1px solid rgb(184, 180, 180);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 23px;
}

#minute, #second {
  color: rgb(78, 78, 204);
  font-size: 20px;
}

#minetogo, #result {
  color:#CC5500;
  font-size: 20px;
}

#reset {
  font-size: 18px;
}